.metaballs-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.metaballs-container canvas {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
}
