* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #fb7427;
    color: #fef4b8;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.25;
}

p{
    font-size: 15px;
    line-height: 1.25;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.nav-items{
    display: flex;
    align-items: center;
    gap: 2em;
}

button {
    outline: none;
    border: 2px solid #fef4b8;
    border-radius: 2em;
    background-color: transparent;
    color: #fef4b8;
    padding: 1rem 2rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 2;
}

footer h1 {
    width: 40%;
}

.footer-links {
    display: flex;
    gap: 2em;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}